@model FClub.Models.Models.ViewModels.CartIndexVM

@if (Model.ShoppingCarts.Any())
{
	<div class="container-fluid">
		<div class="card col-md-12">
			<div class="card-header bg-dark text-light rounded">
				<h3 style="display:inline-block"><i class="fas fa-shopping-cart"></i> &nbsp; Shopping cart items</h3>
				<a asp-controller="Home" asp-action="Index" class="btn btn-outline-success offset-5">Continue shopping</a>
				<a asp-action="ClearCart" class="btn btn-outline-danger">Clear cart</a>
			</div>
			<div class="card-body border">
				<div>
					<table>
						<tr>
							<th>Activity</th>&nbsp;
							<th>Price</th>&nbsp;
							<th></th>
						</tr>
						<tbody>

							@foreach (var item in Model.Activitties)
							{
								<tr>
									<td>@item.ActivittyName</td>&nbsp;

									<td>$ @Model.ShoppingCarts.Where(x => x.ActivityId == item.Id).Select(x => x.PriceSelected.ToString()).FirstOrDefault()</td>&nbsp;

									<td></td>
								</tr>

							}

						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
}
else
{
	<p>No items in cart!</p>
}
